name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: s3nkuuu
          outputs: |
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#e8df7a&color_dots=#191622,#2d2a3a,#ff79c6,#ff7ac7,#e8df7a
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: generate github-contribution-grid-snake-name.svg
        uses: ironmaniiith/Github-profile-name-writer@v1.0
        with:
          github_user_name: s3nkuuu
          name: s3nkuuu  # Your name to be written by the snake
          
      - name: push github-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: snake
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
