name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Generate snake with name
        uses: Platane/snk@v3
        with:
          github_user_name: s3nkuuu
          outputs: |
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#e8df7a
            dist/github-snake-name.svg?palette=github-dark&color_snake=#e8df7a&name=s3nkuuu
            
      - name: Push to snake branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: snake
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
